body, html {
    height: 100%;
    margin: 0;
    overflow: auto;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar {
    padding: 0;
    position: fixed;
}

.codrops-top {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, .99);
    box-shadow: 1px 0px 2px #fff;
    font-family: 'Barlow', sans-serif;
    /* background: rgba(51, 51, 51, 0.5); */
}

.codrops-top a:hover {
    color: rgba(0, 0, 0, .5);
}

.codrops-top a {
    color: #000000;
    font-size: 22px;
    padding: 13px 10px;
}

.navleft {
    padding: 13px !important;
}

.navright {
    font-size: 18px !important;
}

a:hover {
    text-decoration: none;
}

.btn {
    line-height: 24px;
    letter-spacing: 1px;
}

.btn-primary {
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    display: inline;
    font-size: 22px;
    padding: 13px 10px;
    border: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.btn-primary:hover {
    color: rgba(0, 0, 0, .5);
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

button:focus {
    outline: none;
}

.close:focus, .close:hover {
    outline: none;
}

.modal-dialog {
    padding-top: 50px;
    margin: 0px;
    width: 400px;
    height: 100%;
    float: right;
    color: #000000;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.modal-content {
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 0%;
    height: 100%;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0)
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    text-align: center;
    margin-top: 20%;
}

.icons {
    margin-top: 15px;
}

.modal-footer {
    border-top: none;
}

/* GALLERY */

.galleryCont {
    margin-top: -50px;
    padding-top: 50px;
    background-color: #fff;
    /* min-height: 100vh; */
}

.galleryGrid {
    overflow-y: auto !important;
    height: 100%;
}

.galImg {
    width: 100%;
}


.col, .col-1, .col-10, .col-11, .col-12, .col-2,
.col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
.col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10,
.col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-auto, .col-md,
.col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-md-auto, .col-sm, .col-sm-1, .col-sm-10,
.col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9, .col-sm-auto, .col-xl,
.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12,
.col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5,
.col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin: 0 !important;
}